*
{
	margin:0;
	padding:0;
	font-family:verdana;
	box-sizing:border-box;
	
}
body
{
	background-image:url(3.jpg);
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
}
.menu-bar
{
	background:rgb(0,100,0);
	text-align:center;
}
.menu-bar ul
{
	display:inline-flex;
	list-style:none;
	color:white;
}
.menu-bar ul li
{
	width:120px;
	margin:15px;
	padding:15px;
}
.menu-bar ul li a
{
	text-decoration:none;
	color:white;
}
.active,.menu-bar ul li:hover
{
	background:rgb(255,179,79);
	border-radius:3px;
}
.menu-bar.fa
{
margin-right:8px;
}
.sub-menu-1
{
display:none;
}
.menu-bar ul li:hover .sub-menu-1
{
display:block;
position:absolute;
background:#ffbe69;
margin-top:15px;
margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
display:block;
margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
width:150px;
padding:10px;
border-bottom:1px dotted #fff;
background:transparent;
border-radius:0;
text-align:left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom:none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
color:#ed750c;
}
.fa-angle-right
{
	float:right;
}
.sub-menu-2
{
display:none;
}
.hover-me:hover .sub-menu-2
{
	position:absolute;
	display:block;
	margin-top:-40px;
	margin-left:140px;
	background:rgb(255,198,122) ;
}
.log
{
	width:200px; 
	height:97px;
	position:absolute;
	margin-left:-310px;
}
.heel
{
	font-size:100px;
	color:#310fba;
	font-style:oblique ;
	font-weight:bold;
	font-family:Serif ;
	text-align:center;
	text-shadow: 15px 4px 4px #42f5e0;
}.he
{
	font-size:99px;
	color:#310fba;
	font-style:normal ;
	font-weight:bold;
	font-family:Serif ;
	text-align:center;
}
.title-text{
text-align:center;
padding-bottom:70px;
}
.title-text p{
margin:auto;
font-size:20px;
color:#009688;
font-weight:bold;
position:relative;
z-index:1;
display:inline-block;
}
.title-text p::after{
content:'';
width:50px;
height:35px;
background:linear-gradient(#019587,#fff);
position:absolute;
top:0;
left:0;
z-index:-1;
}
.title-text h1{
font-size:50px;
}
#service{
width:100%;
padding:70px 0;
background:#efefef;
}
.service-box{
width:80%;
display:flex;
flex-wrap:wrap;
justify-content:space-around;
margin:auto;
}
.single-service
{
	flex-basis:48%;
	text-align:center;
	border-radius:7px;
	margin-bottom:20px;
	color:#fff;
	position:relative;
}
.single-service img{
width:100%;
border-radius:7px;
}
.overlay
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	border-radius:7px;
	cursor:pointer;
	background:linear-gradient(rgba(0,0,0,0.5),#009688);
	opacity:0;
	transition:1s;
}
.single-service:hover .overlay{
opacity:1;
}
.service-desc
{
	width:80%;
	position:absolute;
	bottom:0%;
	left:50%;
	opacity:0;
	transition:1s;
	transform:translateX(-50%);
}
hr{
background:#fff;
height:2px;
border:0;
margin:15px auto;
width:60%;
}
.service-desc p{
font-size:14px;
}
.single-service:hover .service-desc{
bottom:40%;
opacity:1;
}
#footer
{
padding:100px 0 20px;
background:#efefef;
position:relative;
}
.footer-row
{
width:80%;
margin:0 auto;
display:flex;
justify-content:space-between;
flex-wrap:wrap;
}
.footer-left,.footer-right
{
flex-basis:45%;
padding:10px;
margin-bottom:20px;
}
.footer-right{
text-align:right;
}
.footer-row h1
{
margin:10px 0;
}
.footer-row p
{
line-height:35px;
}
.footer-left.fa,.footer-right .fa{
font-size:20px;
color:#009688;
margin:10px;
}
.slideshow{
width:70%;
height:100%;
overflow:hidden;
margin-left:15%;
margin-top:12%;
}
.middle{
position:absolute;
top:50%;
left:50%
transform:translate(-50%,-50%);
}
.navigation{
position:absolute;
bottom:20px;
left:50%
transform:translateX(-50%);
display:flex;
}
.bar{
width:170px;
height:20px;
border:4px solid #fff;
margin:10px;
cursor:pointer;
transition:0.4s;
}
.ba{
width:290px;
height:20px;
border:4px solid #fff;
margin:10px;
margin-left:90px;
cursor:pointer;
transition:0.4s;

}
.bar:hover{
background:#fff;
}
.ba:hover{
background:#fff;
}

input[name="r"]{
position:absolute;
visibility:hidden;
}
.slides{
width:500%;
height:100%;
display:flex;
}
.slide{
width:20%;
transition:0.6s;
}
.slide img{
width:100%;
height:100%;
}
#r1:checked ~ .s1{
margin-left:0;
}
#r2:checked ~ .s1{
margin-left:-20%;
}
#r3:checked ~ .s1{
margin-left:-40%;
}
#r4:checked ~ .s1{
margin-left:-60%;
}
#r5:checked ~ .s1{
margin-left:-80%;
}



.cont{
margin-left:25%;
position:absolute;
width:30%;
height:70%;
padding:0;
text-align:center;
background:linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(in.jpg);
background-size:cover;
background-position:center;
font-family:sans-serif;
}

.contact-title
{
margin-top:10px;
color:#fff;
text-transform:uppercase;
transform:all 4s ease-in-out;
}
.contact-title h1{
font-size:32px;
line height:10px;
}
.contact-title h2
{
font-size:16px;
}
form{
margin-top:50px;
transition:all 4s ease-in-out;
}
.form-control
{
width:400px;
background:transparent;
border:none;
outline:none;
border-bottom:1px solid #060a91;
color:#fff;
font-size:18px;
margin-bottom:16px;
}
input{
height:30px;
color:white;
}
form .submit
{
background:#ff5722;
border-color:transparent;
color:white;
font-size:20px; 
font-weight:bold;
letter-spacing:2px;
height:50px;
margin-top:20px; 
}
form .submit:hover
{
background-color:#f44336;
cursor:pointer;
}
.ca
{
margin-left:35%;
position:absolute;
width:30%;
height:70%;
padding:0;
text-align:center;
background:url(cook.jpg);
background-size:cover;
background-position:center;
font-family:sans-serif;
}
.contle
{
margin-top:10px;
color:darkblue;
text-transform:uppercase;
}
.contle h1{
font-size:32px;
line height:10px;
}
.contle h2
{
font-size:16px;
}
h3{
color:darkblue;
font-size:20px;
font:verdana;
}
.logs
{
width:50%;
height:50%;
}
.heep{
text-align:center;
color:forestgreen;
margin:30px 0 50px;
}
.gallery
{
margin:10px 50px;
}
.gallery img
{
width:230px;
padding:5px;
filter:grayscale(100%);
transition:1s;
}
.gallery img:hover
{
filter:grayscale(0);
transform:scale(1.1);
}
.lo{
height:450px;
width:400px;
}